/**Global Scope**/
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
body{
    height:1000px;
}
.fa{
    margin-right: 5px;
}

/**BackEnd SideBar**/
#menuToggle{
    float: right;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.menuItem{
    padding: 5px 0px;
    cursor: pointer;
    list-style: none;
}
.menuItem p{
    float: right;
    position: relative;
    right: 35%;
    margin: 0;
}
.menuLogin p{
    right: 25% !important;
}
.submenuItem{
    text-decoration: none;
    text-align: center;
    padding: 0;
    background-color: rgba(20, 81, 117, 0.9);
    box-shadow: inset -1px 1px 7px 0px black;
    padding: 3px;
    position: relative;
    top:5px;
    list-style: none;
}
.submenuItem li:hover{
    color: black;
    background-color: rgb(93, 195, 181);
    border-radius: 5px;
    transition: all 0.5s;
}
#userLog{
    position: relative;
    top: 20px;
}
#content{
    width: 100%;
    height: 100%;
}
#leftContent{
    float: left;
    width: 13%;
    height: 100%;
    background-color: rgba(108, 141, 162, 0.96);
}
#rightContent{
    float: right;
    width: 87%;
}
#mainLogo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}
.menuAction{
    list-style: none;
    padding: 0;
    text-align: center;
    color: white;
    top: 15px;
    position: relative;
}
.userAction{
    list-style: none;
    padding: 0;
    text-align: center;
    color: white;
}
/**END BackEnd Sidebar**/

/**List User Style**/
.backTitle{
    text-align: center;
}
.backTable{
    margin: 0 auto;
    text-align: center;
    width: 95%;
}
.backTable thead{
    border-bottom: 1px solid black;
}
.backTable th, td{
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}
