/*Custom Font*/
@font-face {
    font-family: florence;
    src: url(/fonts/Florsn17.ttf);
}

/*Start General CCS*/
html{
  height: calc(100%);
}
body{
  margin: 0px;
  height: calc(100%);
}

.container-fluid{
  height: calc(100%);
}

.page{
  background-image: url('/img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
  height: calc(100%);
}
/*END General CCS*/

.navBack{
    margin: 0px;
}

.navbar{
    border-radius: 0px;
    background-color:#112e3d !important;
    font-family: florence;
}


.dropdown-menu {
    border-radius: 0px;
    background-color: #395b71;
}


.image{
    width: 500px;
    margin: 0 auto;
}
.dropdown-menu>li>a {
    color: white;
}
.row.content{
    height: calc(100%);
}
.linePrices {
height: 30px;
width: 100%;
margin: 0 auto;
position: absolute;
overflow: hidden;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
color: white;
background-color: #7387a533;
font-family: florence;
border-top: 0.5px solid #0d2049;
}

.welcome{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 33%;
    font-family: florence;
    color: white;
}

.welcome h1{
    margin: 0px;
    font-size: 70px;
    text-shadow: -2px 1px 9px black;
    text-rendering: optimizeLegibility;
}
.welcome h2{
    font-size: 60px;
    text-shadow: -2px 1px 9px black;
    text-rendering: optimizeLegibility;
}
.btn-alternative{
    font-size: 30px;
    color: white;
    font-family: florence;
    text-shadow: 0px 0px 20px black;
}

.btn-alternative:hover{

}
.btn-alternative a{
    color: white;
    transition: all 0.5s;
}
.btn-alternative a:hover{
    transition: all 0.5s;
    text-decoration: none;
    color: #112e3d;
}

.linePrices .mover-1 {
    width: max-content;
    -webkit-animation: moveSlideshow 70s linear infinite;
    animation: moveSlideshow 70s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes moveSlideshow {
	100% {
		transform: translateX(-66.6666%);
	}
}

@keyframes moveSlideshow {
	100% {
		transform: translateX(-66.6666%);
	}
