.menuItem{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}
.nav{
    font-size: 16px;
    text-align: center;
}

#mainLogo{
        text-align: center;
        margin-bottom: 10px;
}
.btn{
    margin: 2px;
}
