@font-face {
    font-family: florence;
    src: url(/fonts/Florsn17.ttf);
}
body{
  font-family: florence;
}
.menuItem{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}
.nav{
    font-size: 16px;
    text-align: center;
}

#mainLogo{
        text-align: center;
        margin-bottom: 10px;
}
.btn{
    margin: 2px;
}

.row.content {
  height: auto;
  background-color: #102733;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #112e3d;
  height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

.navBack{
  border-radius: 0px !important;
  margin: 0px !important;
  background-color: #112e3d;
  border: none;
  border-bottom: 1px solid black;
}

.sub-nav{
  margin-top: 120px;
}
.panel{
  border-radius: 0px;
  background-color: #132a3a;
  color: white;
}

.panel-alternative{
  border-color:  #132a3a;
  color: white;
  font-family: florence;
  text-transform: uppercase;
}
.panel-alternative h4{
  font-size: 14px;
}
.panel-alternative>.panel-heading{
  border-radius: 0px;
  background-color: #132a3a;
  text-align: left;
}
.panel-alternative>.panel-footer{
  border-radius: 0px;
  background-color: #132a3a;
  text-align: center;
  color: #395b71;
  font-weight: bold;
  border:none;
}
.panel-alternative>.panel-footer h4{

  font-weight: bold;

}


.btn-alternative{
    border-radius: 0px;
    background-color: transparent;
    color: rgba(255, 255, 253, 0.5);
    border: none;
    transition: all 0.2s;
    text-transform: uppercase;
}
.btn-alternative:hover{
  border-bottom: 2px solid #47b5b6;
  color: white;
  transition: all 0.2s;
}
.btn-alternative.active, btn-alternative:active{
  border-bottom: 2px solid #47b5b6;
  color: white;
}

.btn-alternative-success:hover{
  border-bottom: 2px solid #398439;
  color: white;
  transition: all 0.2s;
}
.btn-alternative-success.active, btn-alternative-succes:active{
  border-bottom: 2px solid #398439;
  color: white;
}

.btn-alternative-danger:hover{
  border-bottom: 2px solid #d9534f;
  color: white;
  transition: all 0.2s;
}
.btn-alternative-danger.active, btn-alternative-danger:active{
  border-bottom: 2px solid #d9534f;
  color: white;
}

.sub-nav>li>a{
    border-radius: 0px;
    background-color: transparent;
    color: rgba(255, 255, 253, 0.5);
    border: none;
    transition: all 0.2s;
    text-transform: uppercase;
}
.sub-nav>li>a:hover{
  border-bottom: 2px solid #47b5b6;
  color: white;
  transition: all 0.2s;
  background-color: transparent;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  border-bottom: 2px solid #47b5b6;
  color: white;
  background-color: transparent;
}




.modal-alternative{
  border-radius: 0px;
  background-color: #132a3a;
  font-family: florence;
  text-transform: uppercase;
  border-color:  #132a3a;
  color: white;
}
.modal-alternative>.modal-header{
    border-color: #395b71;
}
.modal-alternative>.modal-body{
    border-color: #395b71;
}
.modal-alternative>.modal-footer{
    border-color: #395b71;
}
.colorChart{
    height: 20px;
}
.list-gr p{
    margin: 0px;
    color: #395b71;
}
.list-gr h5{
    margin: 0px;
}
.divPro{
    padding-top: 7.5px;
    padding-bottom: 4.5px;
}
.progress{
    margin: 0px;
    background-color: transparent;
    border-radius: none;
}

.form-control{
    border-radius: 0px;
    background-color: transparent;
    color:white;
}
.form-control option{
    background-color: #395b71;

}
.table{
    color:white;
    font-size: 13px;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #395b71;
}
.table-hover>tbody>tr:hover{
    background-color: #102734;
}
.pagination>li>a, .pagination>li>span{
    color:white;
    background-color: transparent;
    border-radius: 0px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #6b6b6b69;
}

.dropdown-menu{
  border-radius: 0px;
  background-color: #395b71;
}
.dropdown-menu>li>a{
  color: white;
}
.nav{
  font-family: florence;
}
